body{
    font-family:'Ubuntu', sans-serif;
    margin:0;
}
header{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:aquamarine;
    height:20vh;
}
header h1{
    align-items:center;
    justify-content:center;
}
header img{
    padding-right:1vw;
}
main{
    margin-left:25%;
    margin-right:25%;
}
.titre1{
    padding:5px;
    background-color:rgb(112, 255, 167);
}
footer{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:rgb(24, 24, 24);
    height:15vh;
    margin-top:3vh;
    color:#ffffff;
    padding:1.5em;
}
footer a{
    text-decoration:none;
    color:#ffffff;
}
footer a:hover{
    color:#8f8f8f;
}
footer p{
    font-size:0.8rem;
}
.logouniv{
    padding-right:3vw;
    padding-bottom:1vh;
}

.lejaponencuisine{
    text-decoration:none;
    color: black;
}
.autresrecettestitle h2{
    text-align:center;
}
.autresrecettes{
    display:flex;
    justify-content:center;
    align-items:center;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
.gallery:hover {
    border: 1px solid #777;
  }
  
.gallery img {
    width: 100%;
    height: auto;
  }
  
.desc {
    padding: 15px;
    text-align: center;
  }
